

.sideBarLocal {
 
  width: max(20%,35vh);
  transition: width 300ms ease-out;
  background-color:var(--secondary-color);
  height: 100%;
  flex-shrink: 0;
  anchor-name: --sideBar-anchor;
  
}

.sideBarLocalDezactive {
transition: width 300ms ease-out;
   width:0;
}
.MenuItem
{
  list-style-type: none;
  display:flex;
  background-color:var(----secondary-color);
  margin-left:0;
  margin: 0;             /* usuwa margines zewnętrzny */ 
  text-decoration:none;
  border-top:2px dotted black;
  text-align:center;
  font-size:2em;
  
}
.MenuItem:hover
{
	background-color:	var(--action-color);
}
ul
{

 margin:0;
 padding:0;
}
ul li 
{
	cursor:pointer;
}
.MenuItem:first-child
{
	border-top:0px dotted black;
}
.Title
{
	width:100%;
	display:flex;
	text-align:center;
	justify-content: space-between;
	height:10dvh;
	align-items: center;
	color:var(--font-color1);
	padding:3vh 0 3vh 0;
	
}
.Title h1
{
	white-space: nowrap;
	display:block;
	width:auto;
	margin:0;
	flex:1;
	font-size:clamp(1.8rem,10vw,3rem);
	
}
.MenuItemActive
{
  list-style-type: none;
  background-color:var(--additional-color);
  margin-left:0;
  margin: 0;             /* usuwa margines zewnętrzny */
	
  text-align:center;
}
.MenuLink
{
	text-decoration:none;
	color:var(--font-color1);
	flex-grow:1;
	padding:10%;
	
	
	
}
.MenuLink:visited
{
	text-decoration:none;
}

.ItemDisplayNone
{
	display:none;
}
.BurgerMenu
{
	position:absolute;
	left: max(5%,10vh);
	top:5%;
	
	
}
.BurgerAbsolute
{
	position:absolute;
	left: max(22%,37vh);
	top:5%;
	
}
.DisplayNone
{
	display:none;
}
.MenuItemActive:hover
{
	background-color:#555;
}