.Smes
{

	color:#eee;
	margin-left:auto;
	background-color:var(--action-color);
	word-wrap: break-word;
    overflow-wrap: break-word;
	
	
}
p
{
	margin:0;
}
.Rmes
{

	color:var(--font-color1);
	margin-right:auto;
	background-color:var(--primary-color);
	word-wrap: break-word;
    overflow-wrap: break-word;
	
	
}
.mes
{
	
	width:min(80%,80vh);
	border-radius:2rem;
	padding:min(5vh,5%);
	position:relative;
	font-size: clamp(1rem, calc(1vh + 1rem), 3rem);
	
	
}
.mes:first-child
{
	
margin-top:50px;
	
	
}
.mes:last-child
{
	
margin-bottom:50px;
	
	
}
.mesDate
{
	position:Absolute;
	right:1rem;
	top:1rem;
	font-size:0.8rem;
	
	
	
	
}