.Smes
{

	color:#eee;
	margin-left:auto;
	background-color:var(--action-color);
	word-wrap: break-word;
    overflow-wrap: break-word;
	
	
}
p
{
	margin:0;
}
.Rmes
{

	color:var(--font-color1);
	margin-right:auto;
	background-color:var(--primary-color);
	word-wrap: break-word;

    overflow-wrap: break-word;
	
	
}
.mes /* TO jest WFRespond ale logicznie zarzadznae gdzi indziej*/
{
	
	--border-radius-v:2rem;
	width:min(80%,80vh);
	border-radius:var(--border-radius-v);
	padding:min(5vh,5%);
	position:relative;
	font-size: clamp(1rem, calc(1vh + 1rem), 3rem);
	
	
	
}
.mes p {/*YEY*/
  overflow-wrap: anywhere;
  word-break: break-word;
}/*stupid breaking page without this*/
.WFRespond
{
	
}
@property --angle
{
	syntax: "<angle>";
	initial-value:0deg;
	inherits:false;
}
.WFRespond::after , .WFRespond::before
{
	
	position:absolute;
	height:100%;
	width:100%;
	content:'';
	background-image:conic-gradient(from var(--angle),transparent 50% , var(--wait-animation-color), var(--wait-animation-color2) );
	left:50%;
	top:50%;
	translate:-50% -50%;
	border-radius:var(--border-radius-v);
	z-index:-1;
	padding:1.5px;
	animation:2s spin linear infinite;
	
}
.WFRespond::before
{
	
	filter:blur(1.5rem);
	opacity:0.7;
}
@keyframes spin
{
	from
	{
		--angle:0deg;
	}
	to
	{
		--angle:360deg;
	}
	
}
.mes:first-child
{
	
margin-top:50px;
	
	
}
.mes:last-child
{
	
margin-bottom:50px;
	
	
}
.mesDate
{
	position:Absolute;
	right:1rem;
	top:1rem;
	font-size:0.8rem;	
}
@media (max-width: 768px) and (orientation: portrait) {
  .mesDate
  {
	  display:none;  
	  
  }
}