.SideBar
{
	
	
	height:100dvh;
	
	
	
}
.Chat
{
	
	flex-grow:1;
	
}
.MainDiv
{
	
	display:flex;
	flex-direction: row;
	
}
.API
{
	background-color:#696969;
	flex-grow:1;
	
}
.Login
{
	background-color:#696969;
	flex-grow:1;

	
}
.API h1
{
  margin-top:500px;
	
}
.Login h1
{
	margin-top:500px;

	
}